<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/acercade">Acerca de </a></li>
        <li><a href="/registro">Registro </a></li>
      </ul>
    </nav>
  <body>
    
    {{{body}}}
  </body>
</html>
